<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12 list-group">
    <a
    href="#"
    class="list-group-item clearfix"
    *ngFor="let recipe of recipes"
    >
      <div class="flex">
        <div>
          <h2 class="mb-1">{{ recipe.name }}</h2>
          <p class="mb-1">{{ recipe.description }}</p>
        </div>
        <div>
          <img
          src="{{ recipe.imageUrl }}"
          alt="{{ recipe.name }}"
          class="img-fluid"
          style="height: 50px;" />
        </div>
      </div>
    </a>
    <app-recipe-details></app-recipe-details>
  </div>
</div>
