<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-3">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!recipeForm.valid">Save</button>
    </div>
    <div class="col-xs-9">
      <button
        type="button"
        class="btn btn-danger"
        (click)="onCancel()">Cancel</button>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Recipe name:</label>
    <input
      type="text"
      name="name"
      id="name"
      class="form-control"
      formControlName="name"
    />
  </div>
  <div class="form-group">
    <label for="imageUrl">Link to image:</label>
    <input
      type="text"
      name="imageUrl"
      id="imageUrl"
      class="form-control"
      formControlName="imageUrl"
      #imageUrl
    />
  </div>
  <div class="row">
    <img [src]="imageUrl.value" alt="" class="img-fluid image-preview" />
  </div>
  <div class="form-group">
    <label for="description">Recipe description:</label>
    <textarea
      name="description"
      id="description"
      rows="6"
      class="form-control"
      formControlName="description"
    ></textarea>
  </div>
  <div class="form-group" formArrayName="ingredients">
    <!-- <label for="ingredient">Ingredients:</label> -->
    <div
      class="row form-group"
      *ngFor="let ingredientControl of getControls(); let i = index"
      [formGroupName]="i"
    >
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          formControlName="ingredientName"
        >
      </div>
      <div class="col-2">
        <input
          type="number"
          class="form-control"
          formControlName="ingredientAmount"
        >
      </div>
      <div class="col-2">
        <button class="btn btn-danger" type="button">X</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-success" type="button" (click)="addIngredient()">Add Ingredient</button>
      </div>
    </div>
  </div>
</form>
