<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <img [src]="recipe.imageUrl" [alt]="recipe.name" class="card-img-top">
      <div class="card-body">
        <h2 class="card-title">{{ recipe.name }}</h2>
        <div
        class="btn-group"
        role="group"
        aria-label="Button dropdown"
        (click)="onClick()"
        appDropdown>
          <button class="btn btn-primary dropdown-toggle" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-expanded="true">Manage Recipe</button>
          <div
          class="dropdown-menu"
          id="dropdown-open"
          aria-labelledby="btnGroupDrop1"
          >
            <a class="dropdown-item" href="#" (click)="onAddToShoppingList()">To Shopping List</a>
            <a class="dropdown-item" href="#">Edit Recipe</a>
            <a class="dropdown-item" href="#">Delete Recipe</a>
          </div>
        </div>
        <div class="card-text">{{ recipe.description }}</div>
        <div class="card-text">
          <ul class="list-group">
            <li
            class="list-group-item"
            *ngFor="let ingredient of recipe.ingredients"
            >{{ ingredient.name }} - {{ ingredient.amount }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
